In [1]:
import pandas as pd

In [2]:
PVAL_THRESHOLD = 0.001
ABSLFC_THRESHOLD = 2 # TODO: to set
DIR = './data/'
DATASET_NAMES = ['PBMC1', 'PBMC2', 'PBMC3', 'PBMC4']
TOOLS = ['COTAN', 'seurat', 'monocle', 'scanpy', 'scvi-tools']

In [3]:
for dataset_name in DATASET_NAMES:
    print('Dataset:', dataset_name)
    markers_size_df = pd.DataFrame()
    for tool in TOOLS:
        if tool == 'scvi-tools':
            file = DIR + dataset_name + '/' + tool + '/antibody/markers_abslfc.csv'
        else:
            file = DIR + dataset_name + '/' + tool + '/antibody/markers_pval.csv'
        markers_df = pd.read_csv(file)
        counts = markers_df.groupby('cluster').size()
        if tool == 'scvi-tools':
            sign_markers_df = markers_df[markers_df['abs_lfc_mean'] > ABSLFC_THRESHOLD]
        else:
            sign_markers_df = markers_df[markers_df['p_val'] < PVAL_THRESHOLD]
        sign_markers_df = sign_markers_df.groupby('cluster').size()
        markers_size_df[tool+' significant markers'] = sign_markers_df
        markers_size_df[tool+' total markers'] = counts
    display(markers_size_df)

Dataset: PBMC1

,COTAN significant markers,COTAN total markers,seurat significant markers,seurat total markers,monocle significant markers,monocle total markers,scanpy significant markers,scanpy total markers,scvi-tools significant markers,scvi-tools total markers
cluster,,,,,,,,,,
1,1115,14199,442,2170,501,3000,454.0,14366,71,500
2,865,14199,605,2579,1084,3000,514.0,14366,152,500
3,3404,14199,1826,4835,1214,3000,1603.0,14366,72,500
4,2695,14199,1213,3630,1210,3000,1156.0,14366,132,500
6,1591,14199,1704,5914,2032,3000,1102.0,14366,145,500
7,6664,14199,4418,8068,2559,3000,3653.0,14366,225,500
8,4712,14199,2897,6660,1579,3000,2612.0,14366,108,500
9,2549,14199,1385,3989,1203,3000,1282.0,14366,148,500
10,505,14199,183,1146,351,3000,161.0,14366,135,500
12,95,14199,102,859,71,3000,NaN,14366,93,500

Dataset: PBMC2

,COTAN significant markers,COTAN total markers,seurat significant markers,seurat total markers,monocle significant markers,monocle total markers,scanpy significant markers,scanpy total markers,scvi-tools significant markers,scvi-tools total markers
cluster,,,,,,,,,,
2,2615,13302,2042,4355,1974,3000,1316,13704,232,500
3,379,13302,266,2967,476,3000,84,13704,61,500
4,1962,13302,898,2886,799,3000,555,13704,61,500
5,317,13302,88,708,208,3000,57,13704,39,500
6,646,13302,209,1288,323,3000,152,13704,42,500
7,62,13302,62,1943,135,3000,3,13704,8,500
8,3651,13302,1479,3896,1541,3000,1173,13704,140,500
10,2139,13302,1490,3374,1563,3000,878,13704,231,500
11,2446,13302,1224,4031,1032,3000,930,13704,56,500
12,1521,13302,577,2527,670,3000,504,13704,45,500
13,1708,13302,1029,2752,1027,3000,709,13704,221,500

Dataset: PBMC3

,COTAN significant markers,COTAN total markers,seurat significant markers,seurat total markers,monocle significant markers,monocle total markers,scanpy significant markers,scanpy total markers,scvi-tools significant markers,scvi-tools total markers
cluster,,,,,,,,,,
2,3013,13006,2345,4920,2178,3000,1627,13119,255,500
3,487,13006,178,985,348,3000,105,13119,161,500
4,492,13006,228,2933,604,3000,158,13119,85,500
5,4119,13006,1815,4428,1575,3000,1342,13119,173,500
6,1457,13006,619,2371,638,3000,408,13119,108,500
7,6051,13006,3924,7499,2311,3000,2667,13119,267,500
9,3260,13006,1685,4160,1073,3000,1095,13119,199,500
10,3552,13006,2023,5088,1309,3000,1412,13119,166,500
12,2658,13006,1195,3719,958,3000,845,13119,139,500
13,3363,13006,1913,4516,1520,3000,1320,13119,259,500
14,367,13006,259,3501,778,3000,131,13119,43,500
15,215,13006,123,1738,275,3000,48,13119,70,500
23,645,13006,197,1193,387,3000,152,13119,126,500

Dataset: PBMC4

,COTAN significant markers,COTAN total markers,seurat significant markers,seurat total markers,monocle significant markers,monocle total markers,scanpy significant markers,scanpy total markers,scvi-tools significant markers,scvi-tools total markers
cluster,,,,,,,,,,
1,4252,13426,2445,5532,1643,3000,1783,13600,276,500
2,3124,13426,1403,4051,1714,3000,1193,13600,145,500
3,7378,13426,5173,8659,2409,3000,3486,13600,269,500
4,1488,13426,627,2512,671,3000,587,13600,221,500
5,2070,13426,1664,4196,1954,3000,1271,13600,193,500
9,2354,13426,1134,3602,1166,3000,904,13600,238,500
10,4399,13426,2545,5796,1830,3000,1809,13600,268,500
14,2071,13426,945,3324,895,3000,862,13600,187,500
19,79,13426,52,890,67,3000,1,13600,113,500
22,248,13426,74,1579,240,3000,31,13600,217,500
24,1307,13426,524,2299,643,3000,548,13600,213,500
26,563,13426,171,1266,386,3000,121,13600,191,500